@import url(animated.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
    color: #bab9b9;
    font: 400 14px/24px "Arial", sans-serif;
    -webkit-text-size-adjust: none;
    background: #232527;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 80px;
    line-height: 98px;
    color: #fff;
    font-weight: 300;
}

@media (max-width: 767px) {
    h1 {
        font-size: 60px;
    }
}

h2 {
    font-size: 80px;
    line-height: 80px;
    color: #36393c;
    font-weight: 300;
}

h2 .fa {
    font-size: 100px;
    line-height: 80px;
}

@media (min-width: 768px) and (max-width: 991px) {
    h2 {
        font-size: 60px;
        line-height: 60px;
    }
}

@media (max-width: 767px) {
    h2 {
        font-size: 50px;
        line-height: 50px;
    }
}

h3 {
    font-size: 50px;
    line-height: 50px;
    color: #e4d860;
    font-weight: 300;
}

h3 a:hover {
    color: #36393c;
}

@media (max-width: 767px) {
    h3 {
        font-size: 44px;
        line-height: 44px;
    }
}

h4 {
    font-size: 35px;
    line-height: 35px;
    color: #36393c;
    font-weight: 300;
}

h4 a:hover {
    color: #e4d860;
}

h5 {
    font-size: 25px;
    line-height: 25px;
    color: #36393c;
    font-weight: 300;
}

h5 span {
    display: block;
    color: #e4d860;
}

h5 a:hover {
    color: #e4d860;
}

h6 {
    font-size: 20px;
    line-height: 20px;
    color: #e4d860;
    font-weight: 300;
}

h6 a:hover {
    color: #36393c;
}

p a:hover, .marked-list a:hover, .list a:hover {
    text-decoration: underline;
}

p .fa, .marked-list .fa, .list .fa {
    text-decoration: none;
}

time {
    display: block;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

a:focus {
    outline: none;
}

a:active {
    background-color: transparent;
}

a[href^="tel:"], a[href^="callto:"] {
    color: inherit;
    text-decoration: none;
}

strong {
    font-weight: 700;
}

.fa {
    line-height: inherit;
}

[class*='fa-']:before {
    font-weight: 400;
    font-family: "FontAwesome";
}

.page {
    overflow: hidden;
    min-height: 500px;
}

.lt-ie9 .page {
    min-width: 1200px;
}

@media (min-width: 1406px) {
    .wrap {
        width: 1388px;
        margin: 103px auto 95px;
        border-radius: 30px;
        overflow: hidden;
    }
}

@media (max-width: 767px) {
    [class*='col-'] + [class*='col-'] {
        margin-top: 30px;
    }
}

h2 + * {
    margin-top: 120px;
}

h2 + h3 {
    margin-top: 8px;
}

h3 + * {
    margin-top: 43px;
}

h4 + * {
    margin-top: 40px;
}

* + h4 {
    margin-top: 55px;
}

h5 + * {
    margin-top: 20px;
}

h6 + * {
    margin-top: 15px;
}

p + p {
    margin-top: 15px;
}

.row + .row {
    margin-top: 60px;
}

.brand {
    display: inline-block;
    padding: 115px 80px 112px;
    background: #e4d860;
    border-radius: 30px;
}

.brand_slogan {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
}

* + .brand_slogan {
    margin-top: 10px;
}

@media (max-width: 767px) {
    .brand {
        padding: 40px 30px;
    }
}

.btn {
    display: inline-block;
    position: relative;
    width: 121px;
    height: 121px;
    background: #e4d860;
    border-radius: 25px;
    color: #fff;
    text-align: center;
}

.btn:after {
    content: "\f15c";
    font-family: "FontAwesome";
    font-size: 40px;
    line-height: 121px;
}

.btn:hover {
    background: #d4c424;
}

.btn:active {
    background: #a89b1d;
}

* + .btn {
    margin-top: 80px;
}

.social-list li {
    display: inline-block;
}

.social-list li a {
    display: block;
    width: 77px;
    height: 77px;
    color: #fff;
    font-size: 25px;
    line-height: 77px;
    border-radius: 50%;
    background: #232527;
    text-align: center;
}

.social-list li a:hover {
    background: #e4d860;
}

@media (min-width: 768px) and (max-width: 991px) {
    .social-list li a {
        width: 58px;
        height: 58px;
        line-height: 58px;
    }
}

.social-list li + li {
    margin-left: 16px;
}

.quote {
    padding: 0 15%;
}

.quote_text {
    position: relative;
}

.quote_text:before, .quote_text:after {
    content: '\201C';
    position: absolute;
    top: -8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
    color: #36393c;
}

.quote_text:after {
    right: -30px;
}

.quote_text:before {
    left: -30px;
}

.quote_owner {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    line-height: 25px;
    color: #36393c;
    font-weight: 300;
}

.quote_owner a {
    display: block;
    font-size: 15px;
    line-height: 20px;
    color: #e4d860;
}

* + .quote_owner {
    margin-top: 27px;
}

.toTop {
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 46px;
    color: #fff;
    background: #36393c;
    border-radius: 50%;
    -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 20;
}

.toTop:hover {
    color: #fff;
    background: #e4d860;
    text-decoration: none;
}

.mobile .toTop, .tablet .toTop {
    display: none !important;
}

header {
    position: relative;
    z-index: 2;
    background: no-repeat url(../images/header-bg.jpg);
    background-size: cover;
    padding-top: 193px;
    padding-bottom: 191px;
    text-align: center;
    border-radius: 30px;
}

@media (max-width: 991px) {
    header {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

main {
    display: block;
    background: #fff;
}

.tl {
    text-align: left;
}

.br {
    border-radius: 40px;
    overflow: hidden;
}

.img-rd {
    border-radius: 30px;
    overflow: hidden;
}

.text {
    font-size: 14px;
    line-height: 23px;
}

.mt {
    margin-top: 75px;
}

.date {
    width: 70px;
    height: 100%;
    border-radius: 25px;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-align: center;
}

.date .day {
    display: block;
    background: #e4d860;
    font-size: 30px;
    line-height: 80px;
    color: #fff;
}

.date .month {
    display: block;
    background: #36393c;
    font-size: 15px;
    line-height: 53px;
    color: #5c6166;
}

.news {
    position: relative;
}

.news:before, .news:after {
    display: table;
    content: "";
    line-height: 0;
}

.news:after {
    clear: both;
}

.news_aside {
    float: left;
    position: relative;
    margin-right: 30px;
}

@media (max-width: 1199px) {
    .news_aside {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.news_cnt__no-flow {
    overflow: hidden;
}

.news .date {
    position: absolute;
    left: -1px;
    top: 0;
}

.news img {
    border-radius: 25px;
}

[class*='bg'] {
    color: #bab9b9;
    padding-top: 180px;
    padding-bottom: 183px;
    border-radius: 30px;
    overflow: hidden;
}

[class*='bg'] h2 {
    color: #fff;
    font-size: 80px;
    line-height: 71px;
}

[class*='bg'] h2 + * {
    margin-top: 55px;
}

@media (min-width: 768px) and (max-width: 991px) {
    [class*='bg'] h2 {
        font-size: 60px;
        line-height: 60px;
    }
}

@media (max-width: 767px) {
    [class*='bg'] h2 {
        font-size: 50px;
        line-height: 50px;
    }
}

[class*='bg'] h5 {
    color: #e4d860;
}

@media (max-width: 991px) {
    [class*='bg'] {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

h2.mod {
    position: relative;
    padding-left: 215px;
    font-size: 80px;
    line-height: 80px;
}

h2.mod + * {
    margin-top: 38px;
}

h2.mod .fa {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 174px;
    line-height: 155px;
    color: #e4d860;
}

@media (max-width: 991px) {
    h2.mod {
        font-size: 60px;
        line-height: 60px;
        padding-left: 140px;
    }

    h2.mod .fa {
        font-size: 120px;
        line-height: 120px;
    }
}

@media (max-width: 767px) {
    h2.mod {
        padding-left: 0;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
    }

    h2.mod .fa {
        position: static;
        display: block;
        margin-bottom: 20px;
    }
}

.bg1 {
    background: no-repeat url(../images/bg_img1.jpg);
    background-size: cover;
}

.bg2 {
    background: no-repeat url(../images/bg_img2.jpg);
    background-size: cover;
}

.bg3 {
    background: no-repeat url(../images/bg_img3.jpg);
    background-size: cover;
}

.bg4 {
    padding-top: 170px;
    background: no-repeat url(../images/bg_img4.jpg);
    background-size: cover;
    position: relative;
    z-index: 2;
}

@media (max-width: 991px) {
    .bg4 {
        padding-top: 100px;
    }
}

.well1 {
    padding-top: 190px;
    padding-bottom: 155px;
    position: relative;
    margin-top: -40px;
}

.well2 {
    padding-top: 145px;
    padding-bottom: 155px;
}

.well3 {
    padding-top: 155px;
    padding-bottom: 170px;
}

@media (max-width: 991px) {
    .well1 {
        padding-top: 120px;
        padding-bottom: 80px;
    }

    .well2, .well3 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

footer {
    background: #36393c;
    position: relative;
    margin-top: -40px;
    padding-top: 102px;
    padding-bottom: 75px;
}

footer .copy {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 24px;
    color: #696e74;
    padding-top: 60px;
}

footer .brand {
    padding: 0;
    background: none;
}

footer .brand_slogan {
    color: #fff;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 1px;
}

footer .brand_name {
    font-size: 44px;
    line-height: 50px;
}

footer .social-list {
    text-align: right;
    padding-top: 35px;
}

@media (max-width: 767px) {
    footer .copy, footer .social-list {
        text-align: center;
    }
}